<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Kennedy Family Recipe App">
<meta name="author" content="Patrick Kennedy">
<title>Ivan Dimic</title>
<!-- styles -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="header">
        <h1>Header + other</h1>
    </div>
    <div class="sidebar">
        <div>Menu item1</div>
        <div>Menu item2</div>
        <div>Menu item3</div>
    </div>
    <div class="body">
        <div class="content">
            <h1>My Projects</h1>
        {% block content %}{% endblock %}
        </div>
        
    </div>



 
</body>
</html>